In [1]:
print("hello world")

hello world

# iterations

# --> for,while

# for loop

# in built function
## range

In [2]:
range(1,10)

range(1, 10)

In [4]:
range(1,10,3)

range(1, 10, 3)

# here 3 is difference

# syntax:
# for var in range(start,end,difference):
  # statements

In [1]:
a = input("enter name")
for i in range(1,11):
    print(a)

enter namehello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [2]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
for i in range(1,101):
    print(i,end= " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [6]:
for i in range(1,102):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
for i in range(1,101):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [11]:
n=int(input("enter number"))
if n%2==0:
    print('even number')
else:
    print('odd number')

enter number56
even number

In [13]:
g=int(input("enter number"))
for i in range(g):
    if i%2==0:
        print(i)

enter number8
0
2
4
6

In [14]:
t=int(input("enter table number"))
len=int(input("enter table length"))
for i in range(1,len+1):
    print('{} * {} = {}' .format(t,i,t*i))

enter table number4
enter table length30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56
4 * 15 = 60
4 * 16 = 64
4 * 17 = 68
4 * 18 = 72
4 * 19 = 76
4 * 20 = 80
4 * 21 = 84
4 * 22 = 88
4 * 23 = 92
4 * 24 = 96
4 * 25 = 100
4 * 26 = 104
4 * 27 = 108
4 * 28 = 112
4 * 29 = 116
4 * 30 = 120

In [16]:
n= int(input("enter number"))
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter number10
1
2
5
10